<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <title>Job || Acount</title>
</head>

<body>

    <header>
        <div class="wrapper">
            <i class="fa-solid fa-ellipsis-vertical" id="menu"></i>
            <a href="../index.html"><i class="fa-solid fa-briefcase"></i> <span>Job</span>Found</a>
            <nav class="navber">
                <a href="../index.html">Home</a>
                <a href="about.html">About Us</a>
                <a href="all_jobs.html">All Jobs</a>
                <a href="contact.html">Contact Us</a>
                <a href="acount.html">Account</a>
            </nav>
                <button class="btn">Post Jobs</button>
            </div>
        </header>

        <h1 class="message">your don't have an acount</h1>


    <footer>
        <div class="container-footer">
            <div class="box-footer">
                <h3>quich links</h3>
                <a href="../index.html"><i class="fa-solid fa-chevron-right"></i> Home</a>
                <a href="about.html"><i class="fa-solid fa-chevron-right"></i> About</a>
                <a href="all_jobs.html"><i class="fa-solid fa-chevron-right"></i> All Jobs</a>
                <a href="contact.html"><i class="fa-solid fa-chevron-right"></i>Contact Us</a>
            </div>
            <div class="box-footer">
                <h3>extra links</h3>
                <a href="../auth/logn.html"><i class="fa-solid fa-chevron-right"></i> login</a>
                <a href="../auth/register.html"><i class="fa-solid fa-chevron-right"></i> Register</a>
                <a href="../components/acount.html"><i class="fa-solid fa-chevron-right"></i> acount</a>
                <a href="#"><i class="fa-solid fa-chevron-right"></i>post job</a>
            </div>
            <div class="box-footer">
                <h3>follow us</h3>
                <a href="../auth/logn.html"><i class="fa-brands fa-facebook"></i> facebook </a>
                <a href="../auth/register.html"><i class="fa-brands fa-instagram"></i>instagram</a>
                <a href="acount.html"><i class="fa-brands fa-linkedin"></i> linkedIn</a>
                <a href="#"><i class="fa-brands fa-twitter"></i>twitter</a>
            </div>
        </div>
    </footer>

    <div class="copy">
        <h2>© copyright @2023 by <span>MR.Mohamed Shams</span> | all rights reserved</h2>
    </div>

    <script src="../script/script.js"></script>
</body>

</html>