<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <title>Job || View Company</title>
</head>

<body>

    <header>
        <div class="wrapper">
            <i class="fa-solid fa-ellipsis-vertical" id="menu"></i>
            <a href="../index.html"><i class="fa-solid fa-briefcase"></i> <span>Job</span>Found</a>
            <nav class="navber">
                <a href="../index.html">Home</a>
                <a href="about.html">About Us</a>
                <a href="all_jobs.html">All Jobs</a>
                <a href="contact.html">Contact Us</a>
                <a href="acount.html">Account</a>
            </nav>
            <button class="btn">Post Jobs</button>
        </div>
    </header>

    <section class="details-job">
        <h1 class="heading-all">job details</h1>
        <div class="container-details-job">
            <div class="box-details-job">
                <h3>Senior Web Designer</h3>
                <p class="name">IT infosys co.</p>
                <p class="loaction"><i class="fa-solid fa-location-dot"></i> Egypt - cairo</p>
                <div class="salary">
                    <div class="box-salary">
                        <h4>Salary</h4>
                        <p>10k - 23k $ month</p>
                    </div>
                    <div class="box-salary">
                        <h4>Benefite</h4>
                        <p>work from home, health insurance</p>
                    </div>
                    <div class="box-salary">
                        <h4>job Type</h4>
                        <p>part-time</p>
                    </div>
                    <div class="box-salary">
                        <h4>schedule</h4>
                        <p>day shift</p>
                    </div>
                </div>
                <h3>requirements</h3>
                <p class="dot">. education: graduate</p>
                <p class="dot">. age: 23+</p>
                <p class="dot">. language: Arabic,English</p>
                <p class="dot">. experience: 3+ years</p>
                <h3>qualifications</h3>
                <p class="dot">. Bachelor's (preferred)</p>
                <p class="dot">. PHP: 1 year (preferred)</p>
                <p class="dot">. Web design: 1 year (preferred)</p>
                <p class="dot">. WordPress: 1 year (preferred)</p>
                <p class="dot">. total work: 3 year (preferred)</p>
                <h3>job Description</h3>
                <p class="desc">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora incidunt eveniet, voluptatibus pariatur quasi quam laboriosam accusantium quo nemo debitis!</p>
                <p class="dot">. Hiring 2 condidate for this role</p>
                <p class="dot">. posted 2 days ago</p>
                <div class="btns">
                    <button class="btn">Apply Now</button>
                    <button class="btn-heard"><i class="fa-regular fa-heart"></i> save job</button>
                </div>
            </div>
        </div>
    </section>


    <footer>
        <div class="container-footer">
            <div class="box-footer">
                <h3>quich links</h3>
                <a href="../index.html"><i class="fa-solid fa-chevron-right"></i> Home</a>
                <a href="about.html"><i class="fa-solid fa-chevron-right"></i> About</a>
                <a href="all_jobs.html"><i class="fa-solid fa-chevron-right"></i> All Jobs</a>
                <a href="contact.html"><i class="fa-solid fa-chevron-right"></i>Contact Us</a>
            </div>
            <div class="box-footer">
                <h3>extra links</h3>
                <a href="../auth/logn.html"><i class="fa-solid fa-chevron-right"></i> login</a>
                <a href="../auth/register.html"><i class="fa-solid fa-chevron-right"></i> Register</a>
                <a href="../components/acount.html"><i class="fa-solid fa-chevron-right"></i> acount</a>
                <a href="#"><i class="fa-solid fa-chevron-right"></i>post job</a>
            </div>
            <div class="box-footer">
                <h3>follow us</h3>
                <a href="../auth/logn.html"><i class="fa-brands fa-facebook"></i> facebook </a>
                <a href="../auth/register.html"><i class="fa-brands fa-instagram"></i>instagram</a>
                <a href="acount.html"><i class="fa-brands fa-linkedin"></i> linkedIn</a>
                <a href="#"><i class="fa-brands fa-twitter"></i>twitter</a>
            </div>
        </div>
    </footer>

    <div class="copy">
        <h2>© copyright @2023 by <span>MR.Mohamed Shams</span> | all rights reserved</h2>
    </div>

    <script src="../script/script.js"></script>
</body>

</html>